<div class ="Sign-Up">
  <h1>Sign up for Rantly !</h1>
  <%= form_for @user, url: signup_path, html: {class: 'form-horizontal'} do |f|  %>
   <div class = "alignment">
    <div class = "form-group col-xs-6">
    <%= f.text_field :first_name, class: "form-control", placeholder: "First Name" %>
      <br><br>
    <%= f.text_field :last_name, class: "form-control", placeholder: "Last Name" %>
      <br><br>
    <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      <br><br>
    <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      <br><br>
    <%= f.submit "Sign Up", class: "btn btn-primary" %>
  <% end %>
    </div>
   </div>
</div>
